@model IEnumerable<DataDictionary.Models.KeywordDefinition>

@{
    ViewData["Title"] = "Index";
}

<h1>Keyword Definitions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeywordDefinitionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field1Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeywordDefinitionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field1Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KeywordDefinitionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KeywordDefinitionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KeywordDefinitionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
