@model DataDictionary.Models.KeywordDefinition

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>KeywordDefinition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field1Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field1Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field2Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field2Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field3Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field3Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field4Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field4Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field5Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field5Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field6Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field6Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field7Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field7Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field8Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field8Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field9Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field9Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field10Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field10Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field11Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field11Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field12Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field12Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field13Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field13Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field14Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field14Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field15Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field15Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field16Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field16Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field17Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field17Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field18Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field18Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field19Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field19Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field20Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field20Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field21Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field21Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field22Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field22Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field23Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field23Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field24Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field24Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field25Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field25Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application.ApplicationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KeywordDefinitionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
