@model IEnumerable<DataDictionary.Models.KeywordDefinition>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Field1Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field2Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field3Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field4Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field5Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field6Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field7Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field8Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field9Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field10Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field11Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field12Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field13Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field14Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field15Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field16Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field17Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field18Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field19Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field20Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field21Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field22Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field23Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field24Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field25Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Field1Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field2Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field3Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field4Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field5Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field6Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field7Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field8Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field9Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field10Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field11Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field12Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field13Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field14Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field15Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field16Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field17Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field18Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field19Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field20Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field21Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field22Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field23Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field24Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field25Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.ApplicationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KeywordDefinitionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KeywordDefinitionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KeywordDefinitionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
