@model DataDictionary.Models.Application

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SecAppExpert)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SecAppExpert)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISContact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISContact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KeywordDefinitions)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Keyword Def</th>
                    <th>Field 1 Description</th>
                </tr>
                <tr><td>fred nerd</td></tr>
                @foreach (var item in Model.KeywordDefinitions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.KeywordDefinitionName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Field1Description)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ApplicationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
