@model DataDictionary.Models.Keyword

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Keyword</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeywordDefinitionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeywordDefinitionName)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[0]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field1)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[1]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field2)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[2]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field3)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[3]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field4)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[4]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field5)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[5]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field6)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[6]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field7)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[7]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field8)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[8]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field9)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[9]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field10)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[10]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field11)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[11]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field12)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[12]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field13)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[13]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field14)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[14]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field15)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[15]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field16)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[16]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field17)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[17]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field18)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[18]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field19)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[19]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field20)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[20]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field21)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[21]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field22)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[22]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field23)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[23]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field24)
        </dd>
        <dt class="col-sm-2">
            @ViewBag.Descriptions[24]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field25)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KeywordId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
