@model DataDictionary.Models.KeywordViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Keyword</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Keyword.KeywordId" />
            <div class="form-group">
                <label asp-for="@Model.Keyword.KeywordDefinitionId" class="control-label"></label>
                <select asp-for="@Model.Keyword.KeywordDefinitionId" class="form-control" asp-items="ViewBag.KeywordDefinitionId">
                    <option value="">-Select-</option>
                </select>
                <span asp-validation-for="@Model.Keyword.KeywordDefinitionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field1" class="control-label">@Model.KeywordDefinition.Field1Description</label>
                <input asp-for="@Model.Keyword.Field1" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field2" class="control-label">@Model.KeywordDefinition.Field2Description</label>
                <input asp-for="@Model.Keyword.Field2" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field3" class="control-label">@Model.KeywordDefinition.Field3Description</label>
                <input asp-for="@Model.Keyword.Field3" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field4" class="control-label">@Model.KeywordDefinition.Field4Description</label>
                <input asp-for="@Model.Keyword.Field4" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field5" class="control-label">@Model.KeywordDefinition.Field5Description</label>
                <input asp-for="@Model.Keyword.Field5" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field6" class="control-label">@Model.KeywordDefinition.Field6Description</label>
                <input asp-for="@Model.Keyword.Field6" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field7" class="control-label">@Model.KeywordDefinition.Field7Description</label>
                <input asp-for="@Model.Keyword.Field7" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field8" class="control-label">@Model.KeywordDefinition.Field8Description</label>
                <input asp-for="@Model.Keyword.Field8" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field9" class="control-label">@Model.KeywordDefinition.Field9Description</label>
                <input asp-for="@Model.Keyword.Field9" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field9" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field10" class="control-label">@Model.KeywordDefinition.Field10Description</label>
                <input asp-for="@Model.Keyword.Field10" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field11" class="control-label">@Model.KeywordDefinition.Field11Description</label>
                <input asp-for="@Model.Keyword.Field11" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field12" class="control-label">@Model.KeywordDefinition.Field12Description</label>
                <input asp-for="@Model.Keyword.Field12" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field12" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field13" class="control-label">@Model.KeywordDefinition.Field13Description</label>
                <input asp-for="@Model.Keyword.Field13" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field13" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field14" class="control-label">@Model.KeywordDefinition.Field14Description</label>
                <input asp-for="@Model.Keyword.Field14" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field14" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field15" class="control-label">@Model.KeywordDefinition.Field15Description</label>
                <input asp-for="@Model.Keyword.Field15" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field15" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field16" class="control-label">@Model.KeywordDefinition.Field16Description</label>
                <input asp-for="@Model.Keyword.Field16" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field16" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field17" class="control-label">@Model.KeywordDefinition.Field17Description</label>
                <input asp-for="@Model.Keyword.Field17" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field17" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field18" class="control-label">@Model.KeywordDefinition.Field18Description</label>
                <input asp-for="@Model.Keyword.Field18" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field18" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field19" class="control-label">@Model.KeywordDefinition.Field19Description</label>
                <input asp-for="@Model.Keyword.Field19" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field19" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field20" class="control-label">@Model.KeywordDefinition.Field20Description</label>
                <input asp-for="@Model.Keyword.Field20" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field20" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field21" class="control-label">@Model.KeywordDefinition.Field21Description</label>
                <input asp-for="@Model.Keyword.Field21" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field21" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field22" class="control-label">@Model.KeywordDefinition.Field22Description</label>
                <input asp-for="@Model.Keyword.Field22" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field22" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field23" class="control-label">@Model.KeywordDefinition.Field23Description</label>
                <input asp-for="@Model.Keyword.Field23" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field23" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field24" class="control-label">@Model.KeywordDefinition.Field24Description</label>
                <input asp-for="@Model.Keyword.Field24" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field24" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Keyword.Field25" class="control-label">@Model.KeywordDefinition.Field25Description</label>
                <input asp-for="@Model.Keyword.Field25" class="form-control" />
                <span asp-validation-for="@Model.Keyword.Field25" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
