@model IEnumerable<DataDictionary.Models.Keyword>

@{
    ViewData["Title"] = "Index";
}

<h1>Keywords</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KeywordDefinitionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KeywordDefinitionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field3)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KeywordId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KeywordId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KeywordId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
