@model IEnumerable<DataDictionary.Models.Keyword>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Field1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field13)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field14)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field15)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field16)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field17)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field18)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field19)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field20)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field21)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field22)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field23)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field24)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field25)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeywordDefinition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Field1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field19)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field20)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field21)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field23)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field24)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field25)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeywordDefinition.KeywordDefinitionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KeywordId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KeywordId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KeywordId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
